NEXT_PUBLIC_APP_URL=http://localhost:3000
FASTAPI_GATEWAY_URL=http://localhost:8000

BETTER_AUTH_SECRET=yZWuMXjWMi9N2nc6cJ1aCesqhuI129eH

KEYCLOAK_ISSUER=https://keyclaok.com:)
KEYCLOAK_WEB_CLIENT_ID=nextjs_admin
KEYCLOAK_WEB_CLIENT_SECRET=W0So6fSc1o0jf4dZYVdfWXPnviil1qCk
